
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt İşlemi</title>
    <style>
        body {
            background-color: #f3f4f6;
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            color: #ff6b6b;
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            color: #555555;
            font-size: 18px;
            margin-bottom: 30px;
        }

        .button {
            padding: 10px 20px;
            background-color: #ff6b6b;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

            .button:hover {
                background-color: #ff4d4d;
            }
    </style>
</head>
<body>

    <div class="container">
        <h1>Sorry!</h1>
        <p>We can't register for a while.</p>
        <a href="/Home" class="button">Back to Home</a>
    </div>

</body>
</html>

